/* Don't forget to give the credit @Vortx*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: rgb(10,10,10);
    background: url('https://cdn.jsdelivr.net/gh/Subhankar43/Bio-Tree/background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    height: 100vh;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 600px;
    margin: 120px auto 0 auto;  
  }

  .img-container{
    height: 96px;
    width: 96px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 50%;
  }
  
  h1{
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
   
  }
  
  .img{
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    
  }
  .subhankar{
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    padding-top: 2px;
    margin-bottom: 1%;
    
  }
  
  .name{
    text-decoration: none;
    background: linear-gradient(to right, #833AB4, #FD1D1D, #F77737, #FCAF45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .link-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(162, 154, 150, 0.26);
    padding: 10px 10px;
    text-decoration: none;
    margin: 10px;
    border-radius:20px;
    color: rgb(240,240,240);
  }
  .link-card:hover,.link-card:focus  {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.25s;
    transform: scale(1.2);
  }

.icon{
  font-size: 40px;
}
  
.icons{
    font-size: 35px;
  }

p{
    font-size: 20px;
    margin-top: 6px;
    font-weight: 600;
}

@media (max-width: 768px) {
  body {
    overflow: scroll;  
  }
  .subhankar{
    padding-top: 0px;
  }
  h1{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .img-container{
    margin-bottom: 15px;
  }
}
@media (hover: none), (hover: on-demand) {
  .link-card:hover, .link-card:focus {
    transform: none;
  }
}
.share-button{
  display: flex;
  align-self: flex-end;
  color: white;
}

.share-icon{
  font-size: 35px;
  background-color: #222;
  padding: 15px;
  border-radius: 50%;
}
